@model Activityy
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="flex">
        <div>
            <h1>Dojo Activity Center</h1>
        </div>
        <div>
            <a href="/Home">Home</a> |
            <a href="/logout">LogOut</a>
        </div>
    </div>
    <p style="width: 100%; border-bottom: black solid thin;"></p>
        <div>
            <div style="width: 440px;" class="flex">
                <h3>@Model.Title</h3>
                @if(@Model.PlanedBy.UserId==@ViewBag.User.UserId)
                                {
                                <a asp-action="Delete" asp-route-actId="@Model.ActivityId" asp-controller="Home"><button class="btn btn-sm btn-danger">Delete</button></a>
                                }
                                else if(@Model.participants.Any(p =>p.UserId == @ViewBag.User.UserId))
                                {
                                    <a asp-action="Leave" asp-route-actId="@Model.ActivityId" asp-controller="Home"><button class="btn btn-sm btn-warning">Leave</button>
                                    </a>
                                }
                                else{
                                    @* not in participants list then Join *@
                                    <a asp-action="Join" asp-route-actId="@Model.ActivityId" asp-controller="Home"><button class="btn btn-sm btn-success">Join</button>
                                    </a>
                                }
            </div>
            <div>
                <div>
                    <p>Event Coordinator: @Model.PlanedBy.name</p>
                    <p>Description:</p>
                    <p style="padding-left: 40px;">@Model.Description</p>
                    <ul>Participants:
                            @{
                            foreach(var p in Model.participants)
                            {
                                <li style="margin-left: 30px;">@p.participant.name</li>
                            }
                            }
                        </ul>
                </div>
                <div></div>
            </div>
        </div>
</body>
</html>